QUESTIONS ON LISTS, DICTIONARY, TUPLE, SETS

In [2]:
#TO REMOVE AN ITEM AND REVERSE THE LIST
list1 = [100, 200, 300, 400, 500]
list1.remove(100)
list1

[200, 300, 400, 500]

In [3]:
list1.reverse()
list1

[500, 400, 300, 200]

In [4]:
#CONCATENATE THE LISTS IN SUCH A WAY IT RETURNS MY NAME IS KELLY
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [list1[0]+list2[0],list1[1]+list2[1],list1[2]+list2[2],list1[3]+list2[3]]
list3

['My', 'name', 'is', 'Kelly']

In [7]:
#turn every item to its square
numbers = [1, 2, 3, 4, 5, 6, 7]
numbers2 = []
for i in numbers:
    numbers2.append(i*i)
numbers2

[1, 4, 9, 16, 25, 36, 49]

In [9]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
new = [x+y for x in list1 for y in list2]
print(new)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [15]:
#zip can take two or more lists and aggregate them in a tuple and return them
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x,y in zip(list1,list2[::-1]):
    print(x,y)

10 400
20 300
30 200
40 100

In [20]:
#to remove empty strings from the list
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list1.remove("")
list1.remove("")
list1

['Mike', 'Emma', 'Kelly', 'Brad']

In [25]:
#to add 7000 after 6000 in the list
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [31]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]


# sub list to add
sub_list = ["h", "i", "j"]
list1[2][1][2].append(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', ['h', 'i', 'j']], 'k'], 'l'], 'm', 'n']

In [43]:
#find a value
list1 = [5, 10, 15, 20, 25, 50, 20]
index = list1[-1]
index

20

In [45]:
#convert these lists into dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
new_dict = dict(zip(keys,values))
new_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [50]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3 = {**dict1,**dict2}
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [52]:
#to print history marks
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

print(sampleDict['class']['student']['marks']['history'])

80

In [57]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]
newdict = {k: sample_dict[k] for k in keys}
newdict

{'name': 'Kelly', 'salary': 8000}

In [58]:
#keys to extract
key2 = ["age","city"]
newdict1 = {k: sample_dict[k] for k in key2}
newdict1

{'age': 25, 'city': 'New york'}

In [61]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["age", "salary"]

for k in keys:
    sample_dict.pop(k)
print(sample_dict)

{'name': 'Kelly', 'city': 'New york'}

In [64]:
#check if a value exists
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 600 in sample_dict.values():
    print('200 is present')
else:
    print('not present')

not present

In [65]:
#to rename a key
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict['location'] = sample_dict.pop('city')
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [68]:
#to get the minimum value
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
print(min(sample_dict, key=sample_dict.get))

Math

In [71]:
#to change the value
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary']= 8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [73]:
#to reverse the tuple
tuple1 = (10, 20, 30, 40, 50)
newtuple = tuple1[::-1]
newtuple

(50, 40, 30, 20, 10)

In [75]:
#how to access a value
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

In [79]:
#swapping the tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [80]:
#to modify an element
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
tuple1

(11, [222, 33], 44, 55)

In [81]:
#count the no. of times 50 occured
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

In [82]:
#to combine a list and a set in a new set
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
sample_set

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

In [83]:
#to create a new set with unique items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection(set2)

{30, 40, 50}

In [86]:
#Update the first set with items that donâ€™t exist in the second set
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)
set1

{10, 30}

In [91]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({30,40,50})
set1

{10, 20}

In [93]:
 #Return a set of elements present in Set A or B
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.union(set2)

{10, 20, 30, 40, 50, 60, 70}

In [97]:
#Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
set1

{10, 20, 60, 70}